extends layout

block content
  section#container
    // main content start
    section#main-content
      section.wrapper
        .flot-chart
          // page start
          .row
            .col-lg-6
              section.panel
                header.panel-heading
                  | Signal
                .panel-body
                  #chart-2.chart
            .col-lg-6
              section.panel
                header.panel-heading
                  | FFT
                .panel-body
                  #chart-1.chart
          // page end
    // main content end
    // footer start
    footer.site-footer
      .text-center
        | 2016 © Carnegie Mellon University - LPSoC by JoaoDiogoFalcao.
        a.go-top(href='#')
          i.fa.fa-angle-up
    // footer end
  // js placed at the end of the document so the pages load faster
  script(src='lib/jquery/dist/jquery.js')
  script(src='lib/bootstrap/dist/js/bootstrap.min.js')
  // right slidebar
  script(src='lib/Flot/jquery.flot.js')
  script(src='lib/Flot/jquery.flot.resize.js')
  script(src='lib/Flot/jquery.flot.pie.js')
  script(src='lib/Flot/jquery.flot.stack.js')
  script(src='lib/Flot/jquery.flot.crosshair.js')
  // script for this page only
  script(src='js/flot-chart.js')
